@use "sass:color";

// Base colors, only used in this file
$color-black: rgb(0 0 0); // #000
$color-black-transparent: color.adjust($color-black, $alpha: -1);
$color-black-opacity-50pc: color.adjust($color-black, $alpha: -0.5);
$color-black-opacity-20pc: color.adjust($color-black, $alpha: -0.8);
$color-black-opacity-10pc: color.adjust($color-black, $alpha: -0.9);
$color-black-opacity-5pc: color.adjust($color-black, $alpha: -0.95);
$color-white: rgb(255 255 255); // #fff
$color-white-opacity-50pc: color.adjust($color-white, $alpha: -0.5);
$color-white-opacity-70pc: color.adjust($color-white, $alpha: -0.3);
$color-greyscale-2: rgb(32 32 32); // #202020
$color-greyscale-3: rgb(64 64 64); // #404040
$color-greyscale-4: rgb(96 96 96); // #606060
$color-greyscale-5: rgb(128 128 128); // #808080
$color-greyscale-6: rgb(165 165 165); // #A5A5A5
$color-greyscale-7: rgb(202 202 202); // #CACACA
$color-greyscale-8: rgb(238 238 238); // #EEEEEE
$color-greyscale-9: rgb(247 247 247); // #F7F7F7
$color-greyscale-3-opacity-50pc: color.adjust($color-greyscale-3, $alpha: -0.5);
$color-primary: rgb(194 31 88); // #C21F58
$color-primary-dark: rgb(168 13 67); // #A80D43
$color-primary-light: rgb(219 48 108); // #DB306C
$color-green: rgb(31 193 31); // #1FC11F
$color-green-spotify: rgb(30 215 96); // #1ed760
$color-red: rgb(243 24 24); // #F31818
$color-red-opacity-50pc: color.adjust($color-red, $alpha: -0.5);
$color-purple-stripe: rgb(99 91 255); // #635bff

// Functional colors, to use in the rest of the app
$color-actionable-chip-bg: $color-greyscale-8;
$color-app-bg: $color-white;
$color-basic-chip-bg: $color-black-opacity-20pc;
$color-basic-chip-bg-negative: $color-white-opacity-50pc;
$color-border: $color-greyscale-7;
$color-border-danger: $color-red-opacity-50pc;
$color-btn-border: $color-primary;
$color-btn-bg-danger: $color-red;
$color-btn-bg-icon-only-dark-hover: $color-black-opacity-5pc;
$color-btn-bg-icon-only-light-hover: $color-white-opacity-50pc;
$color-btn-bg-primary-gradient-start: $color-primary-dark;
$color-btn-bg-primary-gradient-end: $color-primary-light;
$color-btn-bg-stripe: $color-purple-stripe;
$color-btn-bg-transparent-hover: $color-greyscale-8;
$color-btn-text: $color-white;
$color-btn-text-pre-filled: $color-primary;
$color-btn-text-transparent-btn: $color-greyscale-3;
$color-danger: $color-red;
$color-darkened-image-filter: $color-black-opacity-50pc;
$color-drop-shadow: $color-black-opacity-5pc;
$color-drop-shadow-all-around: $color-black-opacity-10pc;
$color-footer-bg: $color-greyscale-8;
$color-header-bg: $color-app-bg;
$color-header-bg-dark: $color-black-opacity-20pc;
$color-icon-dark: $color-greyscale-4;
$color-icon-light: $color-white;
$color-icon-grey: $color-greyscale-5;
$color-icon-primary: $color-primary;
$color-icon-success: $color-green;
$color-input-bg: $color-greyscale-8;
$color-input-bg-offset: $color-greyscale-2;
$color-input-text: $color-greyscale-3;
$color-input-text-offset: $color-white;
$color-input-placeholder: $color-greyscale-6;
$color-link: $color-greyscale-3;
$color-list-item-bg: $color-input-bg;
$color-list-item-bg-hover: $color-greyscale-9;
$color-loader: $color-primary;
$color-menu-item-bg-hover: $color-greyscale-8;
$color-offset-bg: $color-greyscale-9;
$color-item-placeholder: $color-greyscale-8;
$color-radio-bg: $color-input-bg;
$color-radio-bg-hover: $color-greyscale-7;
$color-sidebar-bg: $color-greyscale-9;
$color-sidebar-link-active: $color-btn-bg-transparent-hover;
$color-text: $color-greyscale-3;
$color-text-photo-caption: $color-greyscale-4;
$color-text-negative: $color-white;
$color-text-offset: $color-greyscale-5;
$color-text-shadow: $color-greyscale-3;
$color-tooltip-bg: $color-greyscale-2;
$color-video-player-bg: $color-greyscale-2;
