@import "./colors";
@import "./numbers";

@mixin img-size($size) {
  width: $size;
  height: $size;
  background-size: contain;
}

@mixin vw($size) {
  @if $size == xxl {
    @media (min-width: #{$vw-xxl}) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: #{$vw-xl}) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: #{$vw-lg}) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: #{$vw-md}) {
      @content;
    }
  } @else if $size == sm {
    @media (max-width: #{$vw-md}) {
      @content;
    }
  }
}

@mixin cw($size) {
  @if $size == xxl {
    @container (min-width: #{$vw-xxl}) {
      @content;
    }
  } @else if $size == xl {
    @container (min-width: #{$vw-xl}) {
      @content;
    }
  } @else if $size == lg {
    @container (min-width: #{$vw-lg}) {
      @content;
    }
  } @else if $size == md {
    @container (min-width: #{$vw-md}) {
      @content;
    }
  } @else if $size == sm {
    @container (max-width: #{$vw-md}) {
      @content;
    }
  }
}

@mixin drop-shadow($position: bottom) {
  $offset-x: 0;
  $offset-y: 4px;
  $blur-radius: 4px;
  $spread: 0;
  $color: $color-drop-shadow;

  @if $position == top {
    $offset-y: -$offset-y;
  } @else if $position == all-around {
    $blur-radius: 10px;
    $spread: 2px;
    $color: $color-drop-shadow-all-around;
  } @else if $position == all-around-top {
    $offset-y: -$offset-y;
    $blur-radius: 10px;
    $spread: 2px;
    $color: $color-drop-shadow-all-around;
  }

  box-shadow: $offset-x $offset-y $blur-radius $spread $color;
}

@mixin text-shadow {
  $offset-x: 0;
  $offset-y: 0;
  $blur-radius: 0.125em;
  text-shadow: $offset-x $offset-y $blur-radius $color-text-shadow;
}

@mixin svg-shadow {
  $offset-x: 0;
  $offset-y: 0;
  $blur-radius: 0.08em;
  filter: drop-shadow($offset-x $offset-y $blur-radius $color-drop-shadow);
}

@mixin to-right-red-gradient {
  background-image: linear-gradient(to right, $color-btn-bg-primary-gradient-start, $color-btn-bg-primary-gradient-end);
}

@mixin darkened-image-bg($image-url) {
  background: linear-gradient($color-darkened-image-filter, $color-darkened-image-filter),
    url($image-url) center;

  background-size: cover;
}

@mixin header-footer-text {
  $size: $variable-font-size-sm;

  font-size: $size;
  line-height: $size; // Vertical centering
  font-weight: 300;
}

@mixin underlined {
  @include to-right-red-gradient;
  background-repeat: no-repeat;

  transition: background-size #{$animation-duration-sm}s ease;

  $background-size-hidden: 0 max(5%, 2px);
  $background-size-visible: 100% max(5%, 2px);

  &.appears {
    background-position: left bottom;
    background-size: $background-size-hidden;

    &:hover {
      background-size: $background-size-visible;
    }
  }

  &.disappears {
    background-position: right bottom;
    background-size: $background-size-visible;

    &:hover {
      background-size: $background-size-hidden;
    }
  }
}

@mixin quill-editor {
  padding: 0;

  > h2,
  > p {
    @include justify-text-on-large-screen;
  }

  > h2 {
    font-size: $variable-font-size-lg;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  > p {
    font-size: variable-font(16, 24);
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  > iframe.ql-video {
    width: 100%;
    aspect-ratio: 16 / 9; // Default aspect ratio for YouTube videos
  }

  img {
    margin-inline: auto;
  }
}

@mixin justify-text-on-large-screen {
  @include vw(xl) {
    text-align: justify;
  }
}

@mixin make-all-list-items-same-length {
  display: flex;
  flex-direction: column;

  > li {
    flex-grow: 1;
  }
}
