@use "sass:math";
@import "/src/UI/_CommonStyles/mixins";

.page.settings.account > main {
  container-type: inline-size;

  > section.bordered {
    @include cw(md) {
      max-width: math.div($vw-sm + $vw-md, 2);
    }

    @include cw(lg) {
      margin-left: 16%;
    }

    > h2 {
      text-align: center;
    }
  }
}
