@import "/src/UI/_CommonStyles/mixins";

.page.register {
  section {
    &:not(:first-of-type) {
      padding-top: 1em;
    }

    &.hidden {
      display: none;
    }

    h2 {
      margin-bottom: 0.5em;
    }

    .tip-and-show-all {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: $variable-font-size-sm;
      margin-block: 1vmin 5vmin;
    }

    .wrapper-next-button {
      display: flex;
      justify-content: flex-end;

      margin-top: 5vmin;
    }

    &[data-step="1"] {
      container-type: inline-size;
    }

    &[data-step="2"] {
      .MuiFormControl-root {
        margin-bottom: $default-field-gap;
      }

      .MuiCheckbox-root,
      .end-user-agreement-checkbox-text {
        font-size: $variable-font-size-sm;
      }

      .email-field-and-checkbox > .MuiFormControl-root:first-of-type {
        margin-bottom: 1vmin;
      }

      > .wrapper-next-button {
        margin-top: 10vmin;

        gap: 1vmin;
        flex-direction: column;
        @include vw(md) {
          flex-direction: row;
          justify-content: space-between;
        }

        > .MuiFormControl-root {
          flex-direction: row;
          align-items: center;

          margin-bottom: 0;

          > .end-user-agreement-checkbox-text {
            margin-left: 0.4em;
          }
        }
      }
    }
  }
}
