@import "/src/UI/_CommonStyles/colors";

.likes-comments-share {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .button.rounded {
    color: $color-text-offset;

    > svg {
      color: $color-icon-grey;

      &.active {
        color: $color-icon-primary;
      }
    }
  }
}
