@import "/src/UI/_CommonStyles/colors";
@import "/src/UI/_CommonStyles/mixins";

#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative; // Absolutely-positioned `> span`
  overflow-x: hidden; // To hide scrollbar of heading outside the viewport

  background-size: cover;
  background-position: center;

  @include darkened-image-bg("/images/evgeniy-smersh-PuqP_vEnTv0-unsplash-portrait.jpg");
  @include vw(lg) {
    @include darkened-image-bg("/images/evgeniy-smersh-PuqP_vEnTv0-unsplash.jpg");
  }

  height: max(50vmax, $hero-picture-min-height);

  > h1 {
    color: $color-text-negative;
    text-align: center;
    @include text-shadow;

    margin-top: max(15vw, 200px);

    @include vw(lg) {
      text-align: left;
      margin-left: 10vw;
    }

    > span {
      display: block;
    }
  }

  > div {
    display: flex;
    justify-content: center;

    $margin: 9vh;

    margin-bottom: $margin;

    @include vw(lg) {
      justify-content: flex-end;
      margin-right: $margin;
    }
  }

  > span {
    position: absolute;
    left: 4px;
    bottom: 3px;

    font-size: $variable-font-size-xxs;
  }

  > span,
  > span > a {
    color: $color-text-photo-caption;
  }
}
