@use "sass:math";
@import "/src/UI/_CommonStyles/mixins";

.page.settings.subscriptions > main {
  container-type: inline-size;

  > section {
    container-type: inline-size;

    @include cw(lg) {
      max-width: $vw-lg;
    }

    &:not(:first-of-type) {
      margin-top: 5vmax;
    }

    > h2 {
      text-align: center;
      margin-bottom: 3vmin;
    }

    > p {
      font-size: $variable-font-size-sm;
      text-align: center;
    }
  }
}
