@import "/src/UI/_CommonStyles/mixins";

.MuiSnackbar-root.app-snackbar {
  /* Unfortunately declaration in _mui.scss is too low specificity
  --Snackbar-inset: 5vh; // stylelint-disable-line */

  $margin: 5vh; // Simpler than using --Snackbar-inset

  &.MuiSnackbar-anchorOriginTopCenter {
    top: $margin;
  }

  &.MuiSnackbar-anchorOriginBottomRight {
    @include vw(md) {
      bottom: $margin;
      right: $margin;
    }
  }

  &.MuiSnackbar-colorNeutral {
    background-color: $color-app-bg;
    color: $color-text;
  }

  &.MuiSnackbar-colorDanger,
  &.MuiSnackbar-colorSuccess {
    > svg {
      color: $color-icon-light;
    }
  }

  font-weight: 400; // MUI sets a value on small res

  // Font size on snackbar should be fixed, as the snackbar itself has fixed dimentions
  font-size: 16px; // MUI sets it at 12px on small res

  @include vw(md) {
    font-size: 18px; // MUI sets it at 14px on larger res
    gap: 15px;
  }

  > div {
    flex-grow: 1;

    > span {
      font-weight: 600;
    }

    > p {
      font-size: 14px;
      margin-bottom: 0;

      @include vw(md) {
        font-size: 16px;
      }
    }
  }
}
